{% extends 'base.html' %}
    {% block title %}<title>Phone tracker</title>{% endblock %}

    {% block content %}
        <form method="POST">
            <div class="input-group mb-3" style="position:absolute; top:45%; padding-left:100px; padding-right:100px;">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-solid fa-phone"></i></span>
                <input type="text" class="form-control" name="number" id="number" placeholder="Phone number (+99 0 0123456789)">
                <button type="Submit" class="btn btn-primary" id="basic-addon1">Track phone</button>
            </div>
        </form>
    {% endblock %}

