body {
    background-image: url('https://allegra.flowersetcfresno.com/pic/3902789_full-fondos-de-pantalla-mapamundi-tumblr-decoracion-mapamundi-ultimas-tendencias-catalogo-2020.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    }
